<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobicloud.fuelone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="mobicloud.fuelone.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zilchy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="mobicloud.fuelone.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="mobicloud.fuelone.activity.HomeViewActivity" />
        <activity android:name="mobicloud.fuelone.activity.LoginActivity" />
        <activity android:name="mobicloud.fuelone.activity.SignUpActivity" />
        <activity android:name="mobicloud.fuelone.activity.PrivacyPolicyActivity" />
        <activity android:name="mobicloud.fuelone.activity.ChangePasswordActivity" />

        <activity android:name="mobicloud.fuelone.activity.MappingActivity"
            android:theme="@style/AppTheme12"/>

        <activity android:name="mobicloud.fuelone.activity.TankActivity"
            android:theme="@style/AppTheme12"/>

        <activity android:name="mobicloud.fuelone.activity.TankExelActivity"
            android:theme="@style/AppTheme12"/>

        <activity android:name="mobicloud.fuelone.activity.DipEntryActivity"
            android:theme="@style/AppTheme12"/>

        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="mobicloud.fuelone.utils.ConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>